.DS_Store
.idea
*.log
tmp/

clj/target
clj/classes
clj/checkouts
clj/profiles.clj
clj/pom.xml
clj/pom.xml.asc
*.jar
*.class
clj/.lein-*
clj/.nrepl-port
clj/.prepl-port
clj/.cpcache

.lsp/
.clj-kondo/

result

.direnv/
